<phpunit
        bootstrap="tests/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
>
    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="build/cov/html/" title="Str" charset="UTF-8" />
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="coverage-text" target="php://stdout" />
    </logging>

    <testsuites>
        <testsuite name="converter">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

</phpunit>